body{
			background-color: #eff1f1;
		}

		.navbar-custom {
			background-color:#000911;
			color:#ffffff;
			border-radius:0;
		}

		.navbar-custom .navbar-nav > li > a {
			color:#fff;
		}

		.navbar-custom .navbar-nav > .active > a {
			color: #ffffff;
			background-color:transparent;
		}

		.navbar-custom .navbar-nav > li > a:hover,
		.navbar-custom .navbar-nav > li > a:focus,
		.navbar-custom .navbar-nav > .active > a:hover,
		.navbar-custom .navbar-nav > .active > a:focus,
		.navbar-custom .navbar-nav > .open >a {
			text-decoration: none;
			color: #006be6;
			background-color: #000911;
		}

		.navbar-custom .navbar-brand {
			color:#eeeeee;
		}
		.navbar-custom .navbar-toggle {
			background-color:#eeeeee;
		}
		.navbar-custom .icon-bar {
			background-color:#33aa33;
		}

		.panel-custom {
			color: black;
			border: solid 1px;
			border-color: #d5dddd;
			box-shadow: 1px 1px 5px grey;
		}
		
		div {
			display: block;
		}
		.display-flex{
			display:flex;
		}
		.margin-auto{
			margin: auto;
		}
		.navbar {
	      margin-bottom: 0;
	      border-radius: 0;
	    }
	    
	    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
	    .row.content {
	    	height: 450px;
	    	margin-top: 20px;
	    }
	    .row.cpanel {
	    	height: 20%;
	    	position: relative;
	    	background-color: #000d1a;
	    	color: white;
	    }
	    /* Set gray background color and 100% height */
	    .sidenav {
	      padding-top: 20px;
	      background-color: white;
	      height: 100%;
	      color: black;
	      border: solid 1px;
	      border-radius: 0%;
	      border-color: #d5dddd;
	      display: table-cell;
	    }
	    
	    .list-post {
	    	box-shadow: 1px 1px 5px grey;
	    }

	    .post-wrapper {
	      	background-color: #eff1f1;
	      	height: 100%;
	      	color: black;
	      	display: table-cell;
	    }

	    .cpanel-content {
	    	position: absolute;
	    	padding: 10px;
	    	margin-left: 10%;
	    }

	    .chart-panel {
	    	width: 100%; 
	    	height: 40%;
	    }

	    .img-company {
	    	height: 80%;
	    	width: 100%;
	    }

	    .img-profile {
	    	height: 50px;
	    	width: 50px;
	    	border-radius: 50%;
	    	padding: 10px;
	    	text-decoration: none !important;
	    }

	    .textarea-post{
	    	outline: none; 
	    	overflow: auto; 
	    	height: 100px; 
	    	border:none; 
	    	border-bottom: solid 1px #718e8e; 
	    	margin-bottom: 20px;
	    }

	    .form-post{
	    	margin-top: 10px;
	    }

	    .input-post{
	    	border: solid 1px;
	    	border-color:#d5dddd; 
	    	background-color: white;
	    	box-shadow: 1px 1px 5px grey;
	    }

	    .engagement-panel {
	    	padding-top: 15px;
	    }
	    /* Set black background color, white text and some padding */
	    footer {
	      background-color: #000911;
	      color: white;
	      padding: 15px;
	    }
	    
	    /* On-xsall screens, set height to 'auto' for sidenav and grid */
	    @media screen and (max-width: 767px) {
	      	.sidenav {
	        	height: auto;
	        	padding: 15px;
	     	}
	      	.row.content {height:auto;} 
	      	.row.cpanel {
		    	height: 30%;
		    	position: relative;
	    	}
	    	.cpanel-content {
		    	position: absolute;
		    	margin-left: 0%;
	    	}

	    	.img-company {
		    	height: 100%;
		    	width: 100%;
	    	}

	    	.cpanel .cpanel-content .col-xs-8{
	    		visibility: hidden;
	    	}
	    	.navbar-custom .icon-bar{
	    		background-color: black;
	    	}
	    	.post-wrapper {
	    		width: 100%;
	    	}
	    }